* {
    box-sizing: border-box;
}

body {
    background: #1CB2DC;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.dt-confetti-bg {
    position: absolute;
    transform: scale(1.4) translateY(10px);
    width: 100%;
    z-index: -1;
}

.main {
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-column-gap: 16px;
}

.dt-haven-logo {
    width: 48px;
    position: fixed;
    top: 10px;
}

@media (min-width: 768px) {
    .dt-haven-logo {
        width: 64px;
    }
}

.dt-title {
    font-size: 36px;
    grid-row: 1;
    grid-column: 2 / 3;
    text-align: center;
    color: white;
    font-family: 'Fredoka One', cursive;
    letter-spacing: .2px;
    max-width: 400px;
    margin: 48px auto 0;
}

@media (min-width: 768px) {
    .dt-title {
        font-size: 48px;
        margin: 48px auto 0;
    }
}

@media (min-width: 1024px) {
    .dt-title {
        font-size: 72px;
        max-width: 600px;
        margin: 96px auto 0;
    }
}

.dt-table {
    margin: 60px 0 20px;
    grid-column: 2 / 3;
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.dt-table-row {
    padding: 16px;
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #dad9d9;
}

.dt-table-row--title {
    font-size: 16px;
    font-weight: 700;
    color: gray;
    padding: 16px;
}

.dt-table-row--data {
    font-size: 18px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .dt-table-row--data {
        font-size: 24px;
    }
}

.dt-table-col {
    height: 100%;
    width: 33.333333333%;
}