@charset "UTF-8";
* {
  box-sizing: border-box; }

body,
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif;
  background: #1CB2DC;
  height: 100vh; }

.wrapper {
  margin: 0 auto; }

.box {
  border: 2px solid #CCC;
  padding: 1rem calc(1rem - 2px);
  margin-bottom: 1rem; }
  .box h1,
  .box h2,
  .box h3 {
    margin-top: 0; }

footer {
  text-align: center; }

.hero {
  text-align: center;
  padding: 2rem; }
  .hero h1 {
    font-size: 4rem; }

a {
  color: #a795ef; }

.copyurl {
  width: 100%;
  font-size: 1.5rem; }

div.input label {
  font-weight: bold;
  font-size: smaller; }

.addon {
  display: flex;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px;
  background: #F0F0F0; }
  .addon textarea,
  .addon input {
    flex-grow: 1;
    border: 0;
    background: transparent; }
  .addon button {
    flex-grow: 0;
    background: transparent;
    border: 1px solid #999;
    border-radius: 6px;
    font-weight: bold; }
    .addon button.textarea {
      align-self: flex-start;
      padding: 0.5rem; }
    .addon button:hover {
      background: #FFF;
      color: #a795ef; }

div.hr {
  border: 1px dashed #ccc;
  width: 10%;
  margin: 4rem auto;
  height: 1px; }

a.button {
  border: 2px solid #a795ef;
  font-weight: bold;
  margin: 0;
  border-radius: 3px;
  display: inline-block;
  padding: 0.5rem 2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  transition: box-shadow 0.1s linear; }
  a.button:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1); }

* {
  box-sizing: border-box; }

body {
  background: #1CB2DC;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased; }

.dt-confetti-bg {
  position: absolute;
  transform: scale(1.4) translateY(10px);
  width: 100%;
  z-index: 0; }

.main {
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
  grid-row-gap: 48px; }

.dt-haven-logo {
  width: 36px;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: width .2s ease; }

@media (min-width: 768px) {
  .dt-haven-logo {
    width: 48px;
    transition: width .2s ease; } }
.dt-header {
  grid-row: 1;
  grid-column: 1 / 4;
  height: 192px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; }

.dt-title {
  font-size: 36px;
  color: white;
  margin: 0px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: .2px;
  max-width: 396px;
  text-align: center;
  transition: .2s ease font-size; }

@media (min-width: 768px) {
  .dt-title {
    font-size: 48px; }

  .dt-header {
    height: 192px; } }
@media (min-width: 1024px) {
  .dt-title {
    font-size: 64px; } }
.dt-title--donut {
  color: black;
  font-size: 48px;
  margin: 48px auto 0; }

.dt-table {
  grid-column: 2 / 3;
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 1; }
  .dt-table__row {
    display: flex;
    flex-direction: row;
    padding: 16px 32px;
    width: 100%;
    border-bottom: 1px solid #dad9d9; }
  .dt-table__row--heading, .dt-table__col--heading {
    font-weight: 700;
    color: gray; }
  .dt-table__row--heading {
    font-size: 18px;
    white-space: nowrap; }
  .dt-table__row--data {
    font-size: 18px;
    font-weight: 700; }
  .dt-table__col--data {
    color: black;
    font-weight: 700;
    font-size: 24px; }
  .dt-table__avatar {
    margin-right: 10px;
    width: 24px; }

.dt-table--desktop {
  display: none; }
  .dt-table--desktop .dt-table__row .dt-table__col:first-child {
    width: 15%; }
  .dt-table--desktop .dt-table__row .dt-table__col:nth-child(2) {
    width: 65%; }
  .dt-table--desktop .dt-table__row .dt-table__col:nth-child(3) {
    width: 20%; }
  .dt-table--desktop .dt-table__row:nth-of-type(2) .dt-table__col:first-of-type::after {
    content: '👑';
    margin-left: 10px; }
  @media (min-width: 768px) {
    .dt-table--desktop {
      display: block; } }

.dt-table--mobile {
  display: block; }
  .dt-table--mobile .dt-table__row {
    justify-content: space-between; }
  .dt-table--mobile .dt-table__col--heading {
    width: 33.333333%; }
  .dt-table--mobile .dt-table__leader-name {
    color: black;
    font-weight: 700;
    font-size: 21px; }
  @media (min-width: 768px) {
    .dt-table--mobile {
      display: none; } }

.dt-table-row--directions {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #dad9d9; }

@media (min-width: 768px) {
  .dt-table__row--data {
    font-size: 24px; } }
.dt-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px; }

code {
  background-color: #dadada;
  color: #575757;
  font-size: 90%;
  white-space: nowrap; }

/*# sourceMappingURL=styles.css.map */
